<!-- $Id: account_list.htm 14928 2008-10-06 09:25:48Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
<form method="post" action="pay_log.php?act=list&user_id={$smarty.get.user_id}" name="searchForm">
  <select name="pay_type" onchange="document.forms['searchForm'].submit()">
    <option value="" {if $pay_type eq ''}selected="selected"{/if}>{$lang.all_pay}</option>
    <option value="pay" {if $pay_type eq 'pay'}selected="selected"{/if}>{$lang.user_pay}</option>
    <option value="refund" {if $pay_type eq 'refund'}selected="selected"{/if}>{$lang.user_refund}</option>
  </select>
  <strong>{$lang.label_user_name}</strong>{$user.user_name}
  <strong>{$lang.label_pay_money}</strong>{$user.formated_user_money}
  </form>
</div>

<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellpadding="3" cellspacing="1">
    <tr>
      <th width="8%">{$lang.pay_type}</th>
      <th>{$lang.pay_money}</th>
      <th width="15%">{$lang.pay_time}</th>
      <th width="25%">{$lang.order_sn}</th>
      <th width="30%">{$lang.pay_note}</th>
      <th>{$lang.pay_status}</th>
    </tr>
    {foreach from=$paylog_list item=paylog}
    <tr>
      <td>{$paylog.pay_type}</td>
      <td align="right">
        {if $account.order_amount gt 0}
          <span style="color:#0000FF">+{$paylog.order_amount}</span>
        {elseif $account.user_money lt 0}
          <span style="color:#FF0000">{$paylog.order_amount}</span>
        {else}
          {$account.order_amount}
        {/if}
      </td>      
      <td>{$paylog.pay_time}</td>
      <td>{$paylog.order_amount}</td>
      <td>{$paylog.user_note|escape:html}</td>
      <td>{$paylog.status}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="6">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}