<!-- $Id: account_list.htm 14928 2008-10-06 09:25:48Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
<form method="post" action="pay_log.php?act=list&user_id={$smarty.get.user_id}" name="searchForm">
  <select name="pay_type" onchange="document.forms['searchForm'].submit();">
    <option value="-1" {if $pay_type eq -1 } selected="selected" {/if}> {$lang.all_pay}</option>
    <option value="0"  {if $pay_type eq 0 }  selected="selected" {/if}> {$lang.user_pay}</option>
    <option value="1"  {if $pay_type eq 1 }  selected="selected" {/if}> {$lang.user_refund}</option>
  </select>
  <strong>{$lang.label_user_name}</strong>{$user.user_name}
  <strong>{$lang.label_pay_money}</strong>{$user.formated_user_money}
  </form>
</div>

<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellpadding="3" cellspacing="1">
    <tr>
      <th width="8%">{$lang.label_pay_type}</th>
      <th width="12%">{$lang.label_pay_money}</th>
      <th width="12%">{$lang.label_pay_time}</th>
      <th width="15%">{$lang.label_order_sn}</th>
      <th>{$lang.label_pay_note}</th>
      <th width="8%">{$lang.label_pay_status}</th>
    </tr>
    {foreach from=$paylog_list item=paylog}
    <tr>
      <td align="center">
        {if $paylog.process_type eq 0 }支付{/if} {if $paylog.process_type eq 1 }退款{/if} 
      </td>
      <td align="right" >
        {if $paylog.order_amount gt 0}
          <span style="color:#FF0000">{$paylog.order_amount}</span>
        {elseif $paylog.order_amount lt 0}
          <span style="color:#00FF59">{$paylog.order_amount}</span>
        {/if}
      </td>      
      <td align='center'>{$paylog.paid_time}</td>
      <td>{$paylog.order_sn}</td>
      <td></td>
      <td>{$paylog.status_name}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="6">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}