<!-- $Id: shop_list.htm 15898 2009-05-04 07:25:41Z liuhui $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- 品牌搜索 -->
{include file="shop_search.htm"}
<form method="post" action="" name="listForm">
<!-- start shop list -->
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>{$lang.shop_name}</th>
      <th>{$lang.site_url}</th>
      <th>{$lang.shop_desc}</th>
      <th>{$lang.sort_order}</th>
      <th>{$lang.is_check}</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$shop_list item=shop}
    <tr>
      <td class="first-cell">
        <span style="float:right">{$shop.shop_logo}</span>
        <span onclick="javascript:listTable.edit(this, 'edit_shop_name', {$shop.shop_id})">{$shop.shop_name|escape:html}</span>
      </td>
      <td>{$shop.site_url}</td>
      <td align="left">{$shop.shop_desc|truncate:36}</td>
      <td align="right"><span onclick="javascript:listTable.edit(this, 'edit_sort_order', {$shop.shop_id})">{$shop.sort_order}</span></td>
      <td align="center"><img src="images/{if $shop.is_check}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_check', {$shop.shop_id})" /></td>
      <td align="center">
        <a href="shop_suppliers.php?act=list&shop_id={$shop.shop_id}" title="{$lang.suppliers_manage}">{$lang.suppliers_manage}</a> |
        <a href="shops.php?act=edit&id={$shop.shop_id}" title="{$lang.edit}">{$lang.edit}</a> |
        <a href="javascript:;" onclick="listTable.remove({$shop.shop_id}, '{$lang.drop_confirm}')" title="{$lang.edit}">{$lang.remove}</a> 
      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="6">
      {include file="page.htm"}
      </td>
    </tr>
  </table>

{if $full_page}
<!-- end shop list -->
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}