<!-- $Id: card_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="main-div">
<form method="post" action="wx_event.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.event_name}</td>
    <td><input type="text" name="event_name" maxlength="60" size = "30" value="{$event.event_name|escape}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label"><a href="javascript:showNotice('notice_event_key');" title="{$lang.form_notice}">
        <img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.event_key}</td>
    <td><input type="text" name="event_key" maxlength="60" size="30" value="{$event.event_key}" />{$lang.require_field}
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_event_key">{$lang.notice_event_key}</span>
    </td>
  </tr>
  <tr>
    <td class="label">{$lang.event_desc}</td>
    <td><textarea  name="event_desc" cols="60" rows="4">{$event.event_desc|escape}</textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$event.event_id}" />
      <input type="hidden" name="old_event_name" value="{$event.event_name}" />
      <input type="hidden" name="old_event_key"  value="{$event.event_key}">
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['event_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("event_name",  no_event_name);
    // validator.isNumber("event_key",   cardfee_un_num, 1);
    return validator.passed();
}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}