<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
{include file="pageheader.htm"}
<!-- start add new category form -->
<div class="main-div">
  <form action="wx_keyword.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">{$lang.wx_keyword_keywords}:</td>
        <td>
          <input type='text' name='keywords' maxlength="20" value='{$wx_keyword.keywords|escape:html}' size='27' /> {$lang.require_field}
        </td>
      </tr>
      <tr>
        <td class="label">{$lang.wx_keyword_content_type}</td>
        <td>
          <input type="radio" name="msg_type" id="r_text" value="text"  {if $wx_keyword.msg_type== "text" || $wx_keyword.msg_type== ""} checked="checked"{/if} />{$lang.wx_msg_text} 
          <input type="radio" name="msg_type" id="r_news" value="news" {if $wx_keyword.msg_type == "news"} checked="checked"{/if} />{$lang.wx_msg_article} 
          {$lang.require_field}
        </td>
      </tr>
      <tr>
        <td class="label">{$lang.wx_keyword_news}</td>
        <td>
          <select name="news_id" >
            <option value="0">{$lang.select_please}</option>{$news_list}
          </select>
          <!--      
          <select name="cat_id" onchange="hideCatDiv()" ><option value="0">{$lang.select_please}</option>{$cat_list}</select>
          {if $is_add}
          <a href="javascript:void(0)" onclick="rapidCatAdd()" title="{$lang.rapid_add_cat}" class="special">{$lang.rapid_add_cat}</a>
          <span id="category_add" style="display:none;">
          <input class="text" size="10" name="addedCategoryName" />
           <a href="javascript:void(0)" onclick="addCategory()" title="{$lang.button_submit}" class="special" >{$lang.button_submit}</a>
           <a href="javascript:void(0)" onclick="return goCatPage()" title="{$lang.category_manage}" class="special" >{$lang.category_manage}</a>
           <a href="javascript:void(0)" onclick="hideCatDiv()" title="{$lang.hide}" class="special" ><< </a>
           </span>
           {/if}
            -->
           {$lang.require_field}
        </td>
      </tr>            
      <tr>
        <td class="label">{$lang.wx_keyword_content}:</td>
        <td>
          <textarea name='content' rows="6" cols="48">{$wx_keyword.content}</textarea>{$lang.require_field}
        </td>
      </tr>
      </table>
      <div class="button-div">
        <input type="submit" value="{$lang.button_submit}" />
        <input type="reset"  value="{$lang.button_reset}" />
      </div>
    <input type="hidden" name="act" value="{$form_act}" />
    <input type="hidden" name="old_keywords" value="{$wx_keyword.keywords}" />
    <input type="hidden" name="keyword_id"   value="{$wx_keyword.keyword_id}" />
  </form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['keywords'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("keywords", "{$lang.keywords_empty}");

  if(document.getElementById('r_text').checked){

    validator.required("content", "{$lang.content_empty}");
  }
  return validator.passed();
}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}